---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Pilares from "../components/Pilares.astro";
import Chef from "../components/Chef.astro";
import Menu from "../components/Menu.astro";
import Redes from "../components/Redes.astro";
import Reservas from "../components/Reservas.astro";
import Encontranos from "../components/Encontranos.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Pilares />
    <Reservas />
    <Chef />
    <Menu />
    <Redes />
    <Encontranos />
  </main>
  <Footer />
</Layout>
